version: '{build}'
skip_tags: true
environment:
  GYP_MSVS_VERSION: 2015
  matrix:
  - GENERATOR: Visual Studio 14 Win64
    DEPS_PATH: deps64
  - GENERATOR: Visual Studio 14
    DEPS_PATH: deps32
    BUILD_NUPKG: 1
install: []
build_script:
# See http://help.appveyor.com/discussions/problems/539-cloning-gyp-fails
- git config --global url."http://".insteadOf https://
- mkdir %DEPS_PATH%
- cd %DEPS_PATH%
- cmake -G "%GENERATOR%" ..\third-party\
- cmake --build .
- cd ..
- mkdir build
- cd build
- cmake -G "%GENERATOR%" -DCMAKE_BUILD_TYPE=Release -DDEPS_PREFIX=..\%DEPS_PATH%\usr -DCMAKE_INSTALL_PREFIX=..\INSTALL ..
- cmake --build .
- bin\nvim.exe --version
- cmake --build . --target install -- /p:Configuration=Release
artifacts:
- path: INSTALL
  name: Neovim
